/**********************************************  GENERAL  **********************************************/
body{
  width: auto;
  background: url(img/plante11.png);
  background-size: cover;
  margin: 0!important;
  padding:0;
  height: 100%;
  position: relative;
}

h1{
  text-align: center;   
}

#global

{
width :80% ;
margin :auto ;
padding :25px ;
background :#3c3c3c ;
}

/**********************************************   Button MENU et TITRE  **********************************************/
a {
  font: 12px Helvetica;
  font-weight: bold;
  color: white;
  -webkit-border-box: 0 1px 0 0 white;
  border-bottom: 3px solid transparent;

}


#container{

width: 400px;
margin-top: 10%;
text-align: center;

}

#container1{

  position: relative;
  top: -200%;
  left: 30%;
  width: 400px;
  text-align: center;
  
  }

  #container2{

    position: relative;
    top: -50%;
    left: 60%;
    width: 450px;
    text-align: center;
    
    }


/**********************************************   LOGIN   **********************************************/

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
/* fond blanc login*/
form {
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}    


/**********************************************   MON COMPTE   **********************************************/

.formulaire {
width: 50%;
padding: 30px;
}
.content1 {
padding-left: 33%;
}


.bordure {
  border: thick double #05b12a;
  }
 

/**********************************************   NAVBAR   **********************************************/

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .box-plant{
    margin-right:0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .box-plant{
    margin-right:0;
  }
}

/* ||||||||||| */

#Info_message{
  color: red;
  text-align: center;
  border: 1px;
  border-color:black;
}

#imgFenelon {
  float:right;
}

.ensemble_logo{
  position: static;
}
.logofnd{
  position: absolute;
  top: 150%; left: 45%;
}
